@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gajraj+One&family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@100..900&family=Lato:wght@400;700;900&family=Lexend+Deca:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Oswald:wght@400;500&family=Poppins:wght@400;600&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
.product-item-container{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.product-item-container img{
    cursor:pointer;
}
.header-icons i:hover{
 color: #4f8069;
}
.row{
    width: 100%;
    height: auto;
}
.cards{
    width: 50%;
    height: auto;
    padding: 20px;
}
.small-variation-images img{
    border:2px solid black;
    padding:5px;
}
.card-text{
    font-size: 13px !important;
}
.instruction-list li{
    font-size:13px;
}
/* card-section starts */
.card-container-holder{
    display: flex;
   
     gap: 20px;
     margin-top: 5%;
     width: 100%;
     height: auto;
     flex-wrap:wrap;
}
.card{
    width: 15rem;
    box-sizing: border-box; /* Ensure padding and border are included in the width */  
}
.card:hover{
 cursor: pointer;
}
.card{
    background-color:transparent;
    border-color:transparent;
}
.card-text{
    box-sizing: border-box;
}
.card .btn{
    border: 1px solid grey;
    font-size: 13px;
    box-shadow: 2px 2px 2px rgb(213, 212, 212);
}
.card .btn:hover{
    background-color: #315343;
    color: white;
    border-color: transparent;
}
.badge{
    background-color: rgb(238, 70, 70) !important;
    color: white !important;
}
.footer-contact-container a{
    text-decoration: none;
    color: white;
}
/* review-container */
.review-container{
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
   
}
.review-card{
    border: 1px solid rgb(232, 232, 232);
    width: 100%;
    padding: 10px;
    flex-direction: column;
    box-shadow: 5px 2px 3px rgb(232, 232, 232);
}
.review-image{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.review-para p{
    font-size: 12px;
}
.review-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.review-more-btn .btn{
    background-color: #4f8069;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

@media (min-width:320px) and (max-width:1000px){
    .cards{
width:100%;
margin-top:0px;
    }
    .review-container{
        flex-wrap:wrap;
    }
}
@media (min-width: 320px) and (max-width: 600px) {
    .col-two-newsletter {
        height: auto;
        margin-left: -25%;
        width:100%;
    }
}

